.pics-ruban {
  display: flex;
  flex-direction: row;
  max-height: 300px;
  .pic {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 0;

    a {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      flex-basis: 0;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
}
