<div class="centered-container">
  <h1>Past Launches ({{launchRequester.total}})</h1>

  <div class="pagination">
    <div class="pagination-controls">
      <app-pagination-controls [currentPage]="launchRequester.currentPage" [pages]="launchRequester.pages" (onNext)="retrieveNext()" (onPrevious)="retrievePrevious()" (onPageChoice)="loadPage($event)"></app-pagination-controls>
    </div>
    <div class="pagination-content">
      <div *ngFor="let launch of launches">
        <app-launch-card [launch]="launch"></app-launch-card>
      </div>
    </div>
  </div>
</div>
