.pagination {

  display: flex;
  flex-direction: row;
  max-width: 80%;

  .pagination-content {
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    > div {
      margin: 10px 0;
    }

    div:first-child{
      margin-top: 0;
    }
  }

  .pagination-before, .pagination-after {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 10px;
    padding: 1px 0;
    cursor: pointer;
    color: whitesmoke;
  }

  .pagination-pages{
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      margin: 2px;
      cursor: pointer;
    }
  }

  .current-page{
    color:yellow;
    font-size: x-large;
  }

  .disabled{
    cursor: default;
    color: grey;
  }

}

