<div class="centered-container">
  <h1>Past Launches ({{launchRequester.total}})</h1>

  <div class="pagination">
    <div class="pagination-before" (click)="retrievePrevious()">
      <<<
    </div>
    <div class="pagination-content">
      {{launchRequester.totalPageNumber}}
      {{launchRequester.currentPage}}
      <div *ngFor="let launch of launches">
        <app-launch-card [launch]="launch"></app-launch-card>
      </div>
    </div>
    <div class="pagination-after" (click)="retrieveNext()">
      >>>
    </div>
  </div>
</div>
