$header-height: 50px;
$description-height: 40%;
$card-width: 100%;
$card-height: 300px;

.content {
  background-color: black;
  color: white;
  width: 100%;

  .title, .description, .footer {
    padding: 3px 10px;
  }

  .title {
    height: $header-height;
  }

  .description {
    display: flex;
    flex-direction: column;
    height: $description-height;
    overflow: hidden;
    overflow-y: scroll;
  }

  .rocket{
    padding: 5px;
  }
}

@media screen and (min-width: 600px) {
  .card {
    max-height: $card-height;
  }

  .patch {
    img {
      padding: 40px;
      width: 200px;
    }
  }

  .rocket{
    img{
      width: 20%;
    }
  }
}

@media screen and (max-width: 599px) {
  .card {
    max-height: $card-height - 100px;
  }

  .patch {
    img {
      padding: 10px;
      width: 70px;
    }
  }

  .rocket{
    img{
      width: 20%;
    }
  }
}

.patch {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: lightblue;
}

.card {
  width: $card-width;
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}


:host {
  width: $card-width;
}
