<div class="card">
  <div class="patch">
    <img *ngIf="launch && launch.missionPatch" [src]="launch.missionPatch" (error)="setFallbackImageForPatch()">
  </div>
  <div class="content">
    <div class="description">
      <h3>{{launch.name}}</h3>
      <div [ngClass]="showAllDescription ? 'expanded': 'minimized'" (click)="showAllDescription = !showAllDescription">
        <span>{{launch.details}}</span>
      </div>
      <span class="click-to-expand" *ngIf="!showAllDescription">(click to expand)</span>
    </div>
    <div class="details">
      <table>
        <tbody>
        <tr>
          <td>Launch Site:</td>
          <td>{{launch.launchSite}}</td>
        </tr>
        <tr>
          <td>Launch Date:</td>
          <td>{{launch.date}}</td>
        </tr>
        <tr>
          <td>Rocket:</td>
          <td><a [routerLink]="['/rocket', launch.rocket.id]">{{launch.rocket.name}}</a></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="pics">
      <h4>Pics</h4>
      <app-pics-ruban [pics]="launch.pics" [max]="10"></app-pics-ruban>
    </div>
    <div class="footer"></div>
  </div>
</div>

