/* You can add global styles to this file, and also import other style files */
body {
  margin: unset;
}

header {
  height: 75px;
  background-color: black;
  color: #666;
}

article {
  min-height: 42em;
}

footer {
  height: 75px;
  background-color: black;
  color: #666;
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  > * {
    margin: 20px;
  }
}
